.parent {
	position: relative;
	background-color: white;
	width: 500px;
	height: 500px;
	top: 20vh;
	left: 25vw;
}

#one{
	position: relative;
	width: 100%;
	height: 45%;
	background-color: black;
	margin-bottom: 10px;
}

#two{
	position: relative;
	float: left;
	background-color: black;
	width: 48%;
	height: 50%;
}

#three{
	position: relative;
	float: right;
	background-color: black;
	width: 48%;
	height: 50%;
}